@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

:root {
	--dark: #374151;
	--darker: #1f2937;
	--darkest: #111827;
	--gray: #6b7280;
	--light: #eee;
	--pink: #ec4899;
	--purple: #8b5cf6;
}

.d-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
body {
	font-family: "Open Sans", sans-serif;
}

.parent-container {
	width: 100%;
	min-height: 100vh;
	background: var(--dark);
	color: var(--light);
	padding: 2em 3em;
	font-family: "Roboto", sans-serif;
}
header form {
	height: 80px;

	/* border: 1px solid red; */

	padding-right: 1em;

	margin: 1em 0;
}
header,
main {
	width: 80%;
	margin: 0 auto;
}
header {
	margin-bottom: 2em;
	/* padding-right: 1em; */
}
header h1 {
	font-size: 2rem;
}
#user-toDo,
#add-toDo {
	height: 100%;
}
#user-toDo {
	width: 100%;
	background: var(--darker);
	border-radius: 10px;
	/* flex: 1 1 0%; */
}
#user-toDo::placeholder {
	color: var(--gray);
}
#add-toDo {
	/* width: 30%; */
	text-align: right;
	padding-right: 0;
	/* border: 1px solid red; */
}
input {
	background: none;
	border: none;
	appearance: none;
	outline: none;
	font-size: 1.5rem;
}
#add-toDo {
	cursor: pointer;
	/* margin-right: 0.3em; */
}
input {
	padding: 0.5em 1em;
	color: var(--light);
}
#add-toDo {
	background: linear-gradient(to right, var(--purple), var(--pink));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Javascript style classes */
.individual-toDo-container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	/* border: 2px solid var(--dark); */
	background: var(--darkest);
	border-radius: 10px;
	height: 60px;
	padding-right: 1em;
	margin-top: 1em;
}
.toDo-input-element {
	height: 100%;
	width: 80%;
	/* padding: 0.5em 1em; */
	color: var(--light);
	background: none;
	border: none;
	appearance: none;
	outline: none;
	font-size: 1.5rem;
}
.toDo-input-element:not(:read-only) {
	color: var(--pink);
}
.toDo-action-buttons {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.action-on-toDo-item {
	height: 100%;
	width: 90px;
	cursor: pointer;
	background: none;
	border: none;
	appearance: none;
	outline: none;
	font-size: 1.5rem;
}
.delete {
	color: crimson;
}
.edit {
	background: linear-gradient(to right, var(--purple), var(--pink));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
